.main-div {
    padding-top: 10px;
}

.main-div h5 {
    text-align: left;
    font-weight: bold;
}
.small-piece {
    text-align: left;
}

.small-piece p {
    font-size: 10px;
    font-weight: bold;
}